<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Admission</servlet-name>
        <servlet-class>p1.Admission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacher_report_</servlet-name>
        <servlet-class>p1.teacher_report_</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addmission</servlet-name>
        <servlet-class>p1.Addmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>p1.Course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student_login</servlet-name>
        <servlet-class>p1.Student_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendacne</servlet-name>
        <servlet-class>p1.Attendacne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fees</servlet-name>
        <servlet-class>p1.Fees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>p1.check</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admission</servlet-name>
        <url-pattern>/Admission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacher_report_</servlet-name>
        <url-pattern>/teacher_report_</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addmission</servlet-name>
        <url-pattern>/Addmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/Course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student_login</servlet-name>
        <url-pattern>/Student_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendacne</servlet-name>
        <url-pattern>/Attendacne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fees</servlet-name>
        <url-pattern>/Fees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
